:root {
    --wht: #F2DEBA;
    --bkgrdclr: #6C00FF;
    --blu: #2DCDDF;
    --buzz: #3C79F5;
}

html {
    scroll-behavior: smooth;
}

body {
    display: block;
    background-color: var(--bkgrdclr);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}

/*nav*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 4vw;
    margin: 0;
    background-color: var(--blu);
    height: 100vh;
    width: 10vw;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;    
    /* width: 10vw; */
    font-size: 25px;
    overflow: hidden;
}

nav li {
    margin: 6vh 0;

}

nav li a:hover {
    color: var(--wht);
    background-color: var(--bkgrdclr);
    transition: all 0.5s ease;
}

a {
    text-decoration: none;
    color: var(--bkgrdclr);
    padding: 6vh 4vw;
}

/* title */

.hello {
    display: block;
    transform: translate(3vw, -10vh);
    width: 500px;
}

h1 {
    font-size: 100px;
    color: var(--wht);

}

h2 {
    color: var(--bkgrdclr);
    font-size: 50px;
}

h4 {
    color: var(--wht);
    font-size: 15px;
    text-align: center;
}

.name {
    color: var(--blu);
}

.infrunk {
    display: block;
    margin: auto;
    height: 500px;
    border-radius: 50%;
    transform: translate(0, -8vh);
}

/* main content */

content {
    display: block;
    align-content: center;
    padding-right: 150px;
}

.infocard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: auto;
}

.mari {
    display: block;
    height: 50vh;
    width: 50vw;
    transform: translate(-10vw, 0);
}

.align-right {
    color: var(--wht);
    text-align: right;
}

.align-left {
    text-align: left;
}

p {
    color: var(--wht);
    font-size: 25px;
    text-align: left;
    padding: 5vh;
}

.digipic {
    display: flex;
    height: 25vh;
    width: 50vw;
    border-radius: 2%;
    color: var(--bkgrdclr);
}

.placeholder-images {
    display: flex;
    flex-wrap: wrap;
}

.size-change {
    width: 50%;
}

.placeholder {
    height: 10vh;
    width: 17vw;
    
}

.digipic:hover {
    transform: translate(0vw, -0.7vh);
    transition: all 0.5s ease;
}

.icon {
    font-size: 3vh;
    
}


pre {
    color: var(--wht);
    font-size: 25px;
    margin-top: 8vh;
}

#home, #projects {
    height: 100vh;
    width: 100vw;
    background: rgb(108,0,255);
    background: linear-gradient(180deg, rgba(108,0,255,1) 0%, rgba(60,121,245,1) 50%, rgba(45,205,223,1) 75%, rgba(242,223,187,1) 100%);
}

#about, #contact {
    height: 100vh;
    width: 100vw;
    background: rgb(108,0,255);
    background: linear-gradient(180deg, rgba(242,223,187,1) 0%, rgba(45,205,223,1)50%, rgba(60,121,245,1) 75%,  rgba(108,0,255,1) 100%);
}

footer {
    text-align: center;
}

@media screen and (max-width: 768px) {  
    header {
        display: flex;
        margin: 0;
        padding: 0;
        align-items: top;
    } 
    .hello {
        display: block;
        font-size: 70px;
        transform: translate();
    }
    .infrunk {
        display: block;
        transform: translate(-60vw, 40vh);
        height: 50vh;
    }
    nav {
        width: 15vw;
    }
    nav ul {
        font-size: 15px; 
    }
    .digipic {
        display: flex;
        height: 25vh;
        width: 60vw;
        border-radius: 2%;
        color: var(--bkgrdclr);
    }
    p {
        font-size: 20px;
        padding-top: 2vh;
    }
    pre {
        font-size: 1.7vh;
    }
}