:root {
    --wht: #F2DEBA;
    --bkgrdclr: #6C00FF;
    --blu: #2DCDDF;
    --buzz: #3C79F5;
}

html {
    scroll-behavior: smooth;
}

body {
    display: block;
    background-color: var(--bkgrdclr);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}

/*nav*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 4vw;
    margin: 0;
    background-color: var(--blu);
    height: 100vh;
    width: 10vw;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 10vw;
    font-size: 25px;
    overflow: hidden;
}

li {
    margin: 6vh 0;

}

li a:hover {
    color: var(--wht);
    background-color: var(--bkgrdclr);
    transition: all 0.5s ease;
}

a {
    text-decoration: none;
    color: var(--bkgrdclr);
    padding: 6vh 4vw;
}

/* title */

.hello {
    display: block;
    transform: translate(3vw, -10vh);
    width: 500px;
}

h1 {
    font-size: 100px;
    color: var(--wht);

}

span {
    color: var(--blu);
}

.infrunk {
    display: block;
    margin: auto;
    height: 500px;
    border-radius: 50%;
    transform: translate(0, -8vh);
}

/* main content */

content {
    display: block;
    align-content: center;
    padding-right: 150px;
}

.infocard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: auto;
}

.mari {
    display: block;
    height: 50vh;
    width: 50vw;
    transform: translate(-10vw, 0);
}

h2 {
    color: var(--bkgrdclr);
    font-size: 50px;
    margin-bottom: 5vh;
}

.align-right {
    color: var(--wht);
    text-align: right;
}

.align-left {
    text-align: left;
}

p {
    color: var(--wht);
    font-size: 25px;
    text-align: center;
}

.smolheart {
    width: 40vh;
    border-radius: 50%;
}

.digipic {
    display: flex;
    height: 25vh;
    width: 25vw;
    border-radius: 2%;
    color: var(--bkgrdclr);
}

.digipic:hover {
    transform: translate(0vw, -0.5vh);
    transition: all 0.5s ease;
}


#home, #projects {
    height: 100vh;
    width: 100vw;
    background: rgb(108,0,255);
    background: linear-gradient(180deg, rgba(108,0,255,1) 0%, rgba(60,121,245,1) 50%, rgba(45,205,223,1) 75%, rgba(242,223,187,1) 100%);
}

#about, #contact {
    height: 100vh;
    width: 100vw;
    background: rgb(108,0,255);
    background: linear-gradient(180deg, rgba(242,223,187,1) 0%, rgba(45,205,223,1)50%, rgba(60,121,245,1) 75%,  rgba(108,0,255,1) 100%);
}

@media screen and (max-width: 768px) {
    body {
        align-items: left;
    }
    nav {
        position: relative;        
        align-items: flex-start;
        position: relative;
        top: 0;
        right: 0;
        margin: 0;
        background-color: var(--blu);
        height: 2vh
        width: 100vw;
    }
}
